<mat-card>
  
   

        <form  method="post" action="mail.php">
                        <div class="form-group">
                          <label for="nom">NOM / PRENOM</label>
                          <input type="text" class="form-control" id="nom" name="nom" >
                        </div>
                        <div class="form-group">
                          <label for="email">EMAIL</label>
                          <input type="email" class="form-control" id="email" name="email" >
                       
                     
                    
                </div>

               
                    <div class="form-group">
                            <label for="commentaire">VOS COMMENTAIRES</label>
                            <textarea class="form-control" id="commentaire" rows="6" name="commentaire"></textarea>
                          </div>
                          <button class="btn btn-primary text-center" type="submit">ENVOYER</button>
                        </form>
                     
</mat-card>
