<mat-card >
   <div>
  <p >Stéphane vit à Paris. A 28 ans , il appartient à la famille du caïd Lapaz et gère ses clubs de nuit,
     mais il est surtout au coeur des trafics et des décisions les plus secrètes de la famille. 
     Machines à sous, rackets, cocaïne, le système rapporte des millions.
     Mais quand Assouni le Lyonnais entraine Lapaz dans le meurtre d'un rival, Stéphane comprend qu'ils sont en danger.
      Derrière les établissements et les trafics, il réalise alors l'envers du décor.
      Dans un univers où les alliances se font et se défont au rythme des meurtres, 
      il devra survivre dans ce qui deviendra la plus sanglante guerre des clans que le millieu
       du grand  banditisme n'aura jamais connu. Malgré l'illusion de sa toute puissance,
      le plus féroce des caïd peut être pris à revers par ceux qui ont été trahis.
  </p>
</div>
  <p class="resumeenitalique">Plongée fulgurante dans l'univers impitoyable du grand banditisme français à travers Stéphane Saliseti,
     caïd parisien pris pour cible par un concurrent avide d'argent et  de pouvoir.</p>
</mat-card>