<mat-card>
   
     <div  id="intropp">
    
    <p>Si tu ne retiens que les villas et les voitures de luxe tu n'auras rien compris, 
      le milieu du banditisme est rempli de peur, de souffrance et de trahison, ceux qui s'y engagent sont souvent destinés à une mort violente.</p>
     </div>


<div id="cadrepp">
    <h2 id="np" class="text-center">1</h2>
    <p>Le club accueillait une clientèle bcbg, l'endroit était somptueux.
            Le sol en marbre blanc avait, par endroit, des néons incrustés. Aux murs, de grandes fresques lumineuses représentaient New York, Tokyo, Moscou, des écrans passaient les derniers clips du moment.
             Près du DJ dans la cabine qui surplombait la salle, Stéphane observait l’activité dans le club. Les clients s’agglutinaient au bar pour commander un verre, sur la piste de danse,
              on s’amassait serré les uns contre les autres, bougeant au son des rythmes électro que crachaient les haut-parleurs. Les tables étaient toutes prises, les jeunes buvaient un verre ou commandaient une bouteille.
            Stéphane sentit la pression redescendre peu à peu, le premier soir d’ouverture du Milway était une réussite. 
            Il quitta la cabine pour se retrouver devant la piste de danse, longea les tables et passa devant un groupe de jeunes filles qui le regardèrent en souriant.
             Il était de taille moyenne, mince et bien proportionné, cheveux noirs et courts, un visage ovale agréable, bien dessiné avec un nez droit et de grands yeux clairs.
            </p>
 </div>
 

 <div id="cadrepp">
    <h2 id="np" class="text-center">2</h2>
    <p>Il se fraya un passage jusqu’à l’entrée du carré VIP, surélevé de quelques marches. L’espace était composé de petites célébrités, 
      de mannequins et de stars du X que Stéphane avait fait venir pour le soir du vernissage. Parmi elles, trois hommes étaient assis autour d’une table, trois caïds de premier plan.
       Leur principale activité : le trafic de cocaïne. Venaient ensuite des enveloppes contre la « protection » d’établissements de nuit et des « machines à sous » placées dans différents bars, 
       situées sur chacun de leur territoire.
        Calé au fond d’une banquette en costume bleu clair, François Peretti. Le clan le plus puissant était le sien : deux cents soldats. L’homme contrôlait tout le nord de Marseille.
        Assis à coté de lui, Kamel Assouni était basé à Lyon et son clan, plus restreint, ne dépassait pas les trente hommes.
        David Lapaz, enfin, était l’un des plus gros trafiquants de drogue de Paris. Il régnait depuis de nombreuses années sur sa famille, une cinquantaine d’hommes. La boîte Le Milway lui appartenait,
         Stéphane était son bras-droit. Le jeune homme arriva jusqu’à eux, David Lapaz prit la bouteille de champagne sur la table, remplit une coupe et la tendit à Stéphane.<br>
        – Tiens, mon fils.
        Puis il leva son verre :<br>
        – Au Milway !<br>
        – Au Milway ! lui répondirent les trois hommes a la table.<br>
        –Ta boîte est magnifique, t’as bien fait les choses, lui dit François Peretti avec son large sourire qu’il arborait presque tout le temps, son cigarillo à la main.
        L’Italien, Marseillais, était plutôt grand et mince, les cheveux noirs très courts. Il frisait la quarantaine, avec des petits yeux sombres et vifs auxquels rien n’échappaient.<br>
        – Moi aussi j’ouvre une boîte à Lyon dans deux jours, annonça Kamel. Une boîte de strip. Faut que vous veniez la voir ! Ça va être la plus belle boîte de France !<br>
            </p>
 </div>

 <div id="cadrepp">
    <h2 id="np" class="text-center">3</h2>
    <p>En entendant l’Algérien parler de son club, David Lapaz et Stéphane se regardèrent en souriant.<br>
      – La plus belle boîte de France ?,<br> demanda David d’un ton ironique. On va venir voir ça alors.
      David Lapaz était un homme posé, réfléchi. Il préférait la diplomatie à la violence dans le contrôle de ses affaires à Paris, et ne faisait appel à ses tueurs qu’en dernier recours. Le Pied-noir avait la cinquantaine, il était grand et bien taillé, les cheveux noirs grisonnants. Il se dégageait de lui une force tranquille, et ses hommes l’appréciaient.
      Kamel s’adressa aux autres avec son regard de dingue qu’il avait en toute circonstance.<br>
      – Pour Le Fauve, c’est cette nuit, c’est ça ?<br>
      – Oui. Si ça marche on va le planquer à Paris quelques jours, lui répondit David.<br>
      – T’es pas obligé, fit remarquer Kamel, qui haïssait Le Fauve.<br>
      – C’est mieux, on va pas se mettre en froid avec lui.<br>
      – Il nous devra quelque chose, ajouta Stéphane.<br>
      – Il sera là d’ici combien de temps ?, demanda Peretti d’un air insouciant.<br>
      – Quelques heures si ça marche, répondit David.<br>
      – Vous pouvez encore changer d’avis, insista Kamel en souriant méchamment.<br>
      David et Stéphane ne répondirent pas. L’idée de cacher Le Fauve ne les emballait pas, mais il aurait été délicat de refuser l’aide à un tel homme.<br>
      – Rien ne dit que ça va marcher, fit remarquer Peretti d’un ton rieur.
      Le Marseillais ne craignait pas Le Fauve. 
      D’une certaine manière, il était un peu le seul.
<br>
 </div>

 <div id="cadrepp">
    <h2 id="np" class="text-center">4</h2>
    <p>Aux abords d’une maison d’arrêt, quelque part en France, quatre heures du matin.
        L’explosion déchira la nuit dans un vacarme assourdissant.
        La gigantesque porte en fer grise avait maintenant un trou béant. Une colonne de fumée se dégageait de part et d’autre de l’enceinte, tandis que quatre hommes cagoulés, armés de Kalachnikov pénétraient dans le pénitencier. Deux assaillants restés à l’extérieur tirèrent aussitôt sur les deux miradors, constellant les murs et les vitres blindées d’impacts de balles. À l’intérieur, plusieurs portes palières sautèrent les unes après les autres.
        Dans la prison les détenus criaient, hurlaient, frappaient aux portes, surexcités, galvanisés par cette attaque à l’allure militaire.
        Avec une redoutable précision, les hommes se dirigèrent vers leurs objectifs, maîtrisant parfaitement les lieux, les couloirs… le chemin jusqu’à la cellule de Paul Marcaggi, « Le Fauve ».
        Un surveillant apparut en courant à l’autre bout du couloir. Deux des quatre hommes armés ouvrirent le feu. Le jeune homme en uniforme bleu s’écroula. La porte du « Détenu particulièrement signalé » sauta. Deux hommes s’engouffrèrent à l’intérieur. Paul s’était abrité derrière son matelas dressé devant lui, à l’autre bout de la cellule. Rapidement, il se leva, aidé des plastiqueurs, puis tout le groupe repartit en sens inverse.
        Tandis que les alarmes sonnaient, que les détenus hurlaient et que les tirs continuaient sur les miradors, l’équipe jaillit à l’extérieur, puis le groupe se divisa en deux en courant jusqu’aux voitures. 
        Après un démarrage en trombe des véhicules, le commando disparut dans la nuit.
        L’action n’avait pas duré plus de 15 minutes.
        Parmi les véhicules des fuyards, une Audi R8 V 10 partit en direction de Paris. Le bolide était capable de monter jusqu’à 350 km/h.
        Au volant, Raphaël Sorci, cheveux très courts teints en blond platine, visage carré, nez cassé des boxeurs. Sa carrure impressionnait. C’est lui qui avait mené le commando.
            </p>
 </div>

 <div id="cadrepp">
    <h2 id="np" class="text-center">5</h2>
    <p>Le fauve était assis à côté de lui, le caïd le plus craint dans le milieu. 
        Connu pour être sans pitié, il régnait sur le milieu varois et ne présentait ses soldats à personne. Paradoxalement, 
        il n’avait pas autant d’hommes sous la main que les puissantes familles de Paris, Lyon ou Marseille, ou encore que Louis Garnier, un vieux Marseillais de souche basé dans le sud de la cité phocéenne. 
        Mais la facilité de Paul Marcaggi à tuer et exécuter les gêneurs inspirait la peur dans les autres clans. Seul le vieux Louis Garnier était proche du Fauve, il lui était dévoué, pour être sûr de ne jamais avoir à l’affronter. 
        Malgré ses cinquante soldats, le vieux Marseillais en avait peur.
        C’était un soulagement de s’éloigner de la prison où Paul Marcaggi était incarcéré et de rouler à toute vitesse sur l’autoroute, mettant le plus de distance entre eux et la maison d’arrêt.<br>
        – David Lapaz va te planquer deux ou trois jours à Paris comme convenu, dit Raphaël Sorci de sa voix grave et monocorde.<br>
        – Oui, il faut bien qu’il serve à quelque chose celui-là, ricana Le Fauve.
        
        Trois jeunes femmes arrivèrent dans le carré VIP.
        La première, Mathilde, était jolie et souriante avec des cheveux blonds qui tombaient sur ses épaules et de grands yeux verts. Les deux autres, Karima et Émilie,
         étaient magnifiques. Karima, surtout. Grande, mince, un visage fin à la peau mate, les cheveux noirs attachés, de grands yeux marron en amande. Habillée en noir avec des bijoux discrets mais visibles,
          tous les hommes se retournaient sur son passage. Karima et Émilie étaient call-girls, elles étaient là pour tenir compagnie à Kamel et Peretti.
            </p>
 </div>

 <div id="cadrepp">
    <h2 id="np" class="text-center">6</h2>
    <p>Mathilde, la petite amie de Stéphane, l’embrassa sur la bouche et s’assit à côté de lui. Elle le regarda avec les yeux brillants d’une femme amoureuse.<br>
      – Ça va, ça se passe bien ? T’as du monde là.
      Stéphane lui servit une coupe de champagne.<br>
      – Oui, ça va. Je suis tranquille, soulagé.
      Il regarda son amie et se dit qu’elle lui plaisait vraiment. Vêtue d’un haut décolleté violet, d’une grosse ceinture et d’un pantalon noir, elle portait des petits bracelets en or et un pendentif qu’il lui avait offert.
       Elle se pencha vers lui pour passer ses bras autour de son cou.<br>
      – Je suis très fière de toi, murmura-t-elle.
      Mathilde était vendeuse dans un magasin de vêtements. Stéphane lui avait dit qu’il était gérant d’un restaurant, ce qui était vrai, et maintenant d’une boîte de nuit. Elle avait bien compris pour qui il travaillait, 
      et quelles étaient ses vraies activités. Mais elle faisait semblant de ne pas savoir, elle ne lui posait jamais de question. Stéphane se doutait bien qu’elle avait compris, mais faire semblant, ça aidait.
      David Lapaz se leva en faisant un signe de la tête à Stéphane de le rejoindre. Les deux hommes se parlèrent à l’écart de la table.<br>
      – Ce soir on va s’occuper de Farid.<br>
      – D’accord.<br>
      – Natale t’attend dehors, vous voyez ça ensemble.<br>
      C’était la partie du travail que Stéphane aimait le moins, mais il fallait le faire, c’était inévitable. Il connaissait bien Natale. Lui et son frère, deux Gitans, étaient des lieutenants de la famille, deux tueurs.
       Farid était un grossiste en cocaïne. David Lapaz, en  trafiquant international le fournissait, et le petit truand lui devait 70 000 €.
       Une somme qui se faisait attendre depuis trop longtemps maintenant. Si perdre cet argent était peu gênant, 
      laisser le grossiste s’en sortir ainsi l’était beaucoup plus. Dans Paris, les mauvaises langues commenceraient à dire que David Lapaz était fini.
            </p>
 </div>

 <div id="cadrepp">
    <h2 id="np" class="text-center">7</h2>
    <p>Les deux hommes retournèrent vers le petit groupe, Stéphane s’adressa à Mathilde.<br>
      – Je dois sortir. J’en ai pas pour longtemps.<br>
      – D’accord.<br>
      – Mathilde essaya de cacher sa déception en souriant. T’en n’as pas pour longtemps, t’es sûr ?<br>
      – Oui, t’inquiète pas.
      Il tombait des cordes, la pluie remplissait la nuit de son vacarme régulier. Les rares passants couraient pour fuir le déluge. 
      Stéphane chercha Natal des yeux et l’aperçut abrité sous un porche quelques mètres plus loin sur le trottoir d’en face. Il courut jusqu’à sa voiture et s’y engouffra, une Mercedes grise Classe C,
       garée à quelques mètres de la boîte. Natale arriva à son tour en courant et sauta dans la berline. 
      Le costume beige de Stéphane était déjà à moitié trempé, tandis que les gouttes dégoulinaient sur le cuir marron de Natale.<br>
      – Salut Stéphane, alors ça marche là-dedans, Kamel et Peretti sont avec vous ?<br>
      – Oui, avec Karima et une autre fille.<br>
      – Ah les enculés ! Vous les soignez bien hein ?
      Dès qu’on parlait de Karima, le cœur de Natale s’accélérait.
      Il était grand et mince, son visage avait les traits durs, son regard froid. De petites mèches châtains pendaient de chaque côté de son front. Il se dégageait de lui quelque chose d’inquiétant.
      Pour éliminer Farid, les deux hommes allaient utiliser le plus classique des stratagèmes mafieux. La cible avait été contactée par une personne de confiance. 
      Cet ami allait entraîner sa future victime dans un endroit où se trouvait déjà un tireur embusqué. Une fois sur place la cible était abattue, dès son arrivée.
      Stéphane démarra et appela Farid, en masquant son numéro. Cette précaution n’était prise que dans le cadre d’une enquête de police.<br>
      – Ouais ?, répondit Farid.
      Derrière la voix, on entendait de la musique orientale et des gens parler.
            </p>
 </div>

 <div id="cadrepp">
    <h2 id="np" class="text-center">8</h2>
    <p>Allô Farid, c’est Stéphane.<br>
      – Oui, ça va Stéphane ?<br>
      – Oui ça va. Je veux te voir maintenant. T’es où ?<br>
      – Là, je suis au Rail-Club, pourquoi c’est urgent ?<br>
      – Je te récupère devant la boîte dans 35 minutes. Ne me fais pas attendre Farid.
      Stéphane coupa sans attendre la réponse.<br>
      Assis sur une banquette de la boîte de nuit, Farid fronça les sourcils. Il avait espéré que David Lapaz fermerait les yeux sur l’argent qu’il lui devait, mais le rendez-vous avec Stéphane en pleine nuit n’annonçait rien de bon.
       Le Marocain appela quelqu’un avec son cellulaire en se dirigeant vers la sortie.<br>
      – Tu crois qu’il va venir ?, demanda Natale à Stéphane.<br>
      – Oui. Ça c’est toujours bien passé entre nous, depuis que je le fourni. Toute façon il sait qu’il vaut mieux ne pas déconner en ce moment.<br>
      – Tu le fournis, et regarde ce qui se passe, il paye plus , ricana Natale.<br>
      Le Rail-Club se trouvait à Pigalle, juste au-dessus de La Madeleine où Stéphane avait ouvert son club. Cependant la Mercedes se dirigea vers l’est, en direction du quartier de L’Étoile dans le huitième arrondissement.<br>
      – Tu l’amènes au restaurant ?, demanda le Gitan.<br>
      – Oui, on ira dans la cour. Tu le tues là, je veux aucune trace à l’intérieur. Appelle Christophe et ton frère  Pour vous débarrasser du corps vaut mieux être trois, Farid pèse lourd.<br>
      – Et toi ? Tu nous aides pas ?<br>
      – Faut que je retourne rapidement au Milway.<br>
      – Bah ouais !, lâcha Natale énervé.<br>
      La voiture s’arrêta dans une rue près des Champs-Élysées. À leur droite se trouvait un restaurant, malgré la nuit et la pluie, on pouvait lire La Prétoria au-dessus des grandes vitres. Natale ferma son blouson jusqu’au menton, 
      claqua la portière et disparut dans le noir derrière un rideau de pluie.
            </p>
 </div>

 <div id="cadrepp">
    <h2 id="np" class="text-center">9</h2>
    <p>Rapidement, la Mercedes roula dans Paris, arriva dans Pigalle et s’arrêta dans une petite rue en pente. Sur la droite, à quelques mètres, on pouvait voir les néons rouges Rail-Club au-dessus d’une large porte au style oriental. 
        À cette heure avancée de la nuit les videurs étaient rentrés à l’intérieur. Plusieurs jeunes gens, type maghrébin pour la plupart, étaient sortis fumer une cigarette, collés les uns aux autres sous le porche de la boîte,
         en chemise ou polo. Parmi eux un homme tirait nerveusement sur sa cigarette. Il était petit, en costume gris clair, avec de larges épaules. Un homme traversa la rue et arriva jusqu’à lui ; petit, avec un blouson en cuir noir et un bas de survêtement blanc, le crâne rasé et la peau mate.<br>
        – Tu m’as amené ce que je t’ai demandé ?, lui demanda aussitôt Farid.<br>
        L’homme glissa sa main dans son blouson et en sortit un revolver gris clair. Une arme à barillet, avec un canon court. Farid saisit l’arme et la glissa dans sa ceinture sous sa veste.<br>
        – T’as des embrouilles ? Qu’est-ce qu’il y a Rouya  ?<br>
        Farid détourna le regard, agacé.<br>
        – Ta gueule...<br>
        Stéphane aperçut Farid sur le trottoir et lui fit un appel de phares, l’homme arriva rapidement jusqu’à la voiture et monta.<br>
        – Salut Stéphane.<br>
        Les deux hommes se serrèrent la main, puis Farid mit sa main sur son cœur. Ses cheveux, son visage, son costume ruisselait, son pantalon était trempé. Stéphane démarra.<br>
        – Alors Farid ça va bien ?<br>
        – Ouais, ça va. On va où ?<br>
        L’homme avait l’air tendu. Inquiet.<br>
        – On va à mon restaurant. J’ai quelque chose pour toi. J’ai reçu une livraison plus tôt que prévu et j’ai besoin que tu m’aides à l’écouler vite fait.
            </p>
 </div>

 <div id="cadrepp">
    <h2 id="np" class="text-center">10</h2>
    <p>Farid tourna un regard étonné vers Stéphane. Il avait de bonnes joues bien grasses, comme le reste de son corps.<br>
      – Quoi, tu me donnes de la c  maintenant ? Comme ça ?
      La voiture s’arrêta à un feu rouge. Stéphane le regarda pour lui répondre.<br>
      – Et alors ? C’est pas ton métier ? Avec ce que tu me dois, t’es pas en position de dire quelque chose et tu l’sais.
      Il y eu un silence. On n’entendait plus que le martèlement de la pluie sur le toit de la voiture et les rapides allers-retours des essuie-glaces. Farid ne savait pas quoi penser. La Mercedes repartit.<br>
      – Je te donne 3 kg ce soir. Tu dois te dépêcher pour ce que tu me dois.<br>
      – Ça va tu me connais moi !
      Farid commença à se sentir plus à l’aise, tandis que la voiture s’arrêta devant La Prétoria. Stéphane sortit de la berline, son cœur commençait à s’accélérer. 
      Il marcha rapidement dans le passage qui se trouvait sur le côté du restaurant, Farid lui emboîtait le pas.<br>
      – Mais alors tu dois me faire un bon taro , parce que tu me forces la main là !<br>
      – Oui, t’inquiète pas.<br>
      L’allée était très sombre, elle débouchait sur une petite coursive pour les livraisons. Stéphane s’arrêta devant une porte en fer. La petite lampe au-dessus s’alluma automatiquement, 
      créant un halo de lumière où se trouvaient les deux hommes. Stéphane avait le cœur qui battait à tout rompre, il chercha les clés dans sa poche en attendant le coup de feu. Son visage trahissait l’inquiétude, 
      le stress, et Farid ne devait pas s’en rendre compte.
       Le fond de la coursive se trouvait à 5 mètres derrière eux et était plongé dans le noir. 
            </p>
 </div>
        </mat-card>