/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    color: white;
}
html {
    color: white;
    background-color: black; 

}
html, body { height: 100%; background-color: black; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: black; 
}
